<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>{{ me?.name ?? 'user'}}</ion-list-header>
          <ion-note>{{ me?.email ?? 'user'}}</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <!-- profile -->
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/profile']" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" ios="person-outline" md="person-sharp"></ion-icon>
              <ion-label>Profile</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <!--
        <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon aria-hidden="true" slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list> -->
        <br>
        <!-- logout button -->
        <!-- on bottom screen and block button -->
        <ion-menu-toggle auto-hide="false" style="position: absolute; bottom: 0; width: 95%; margin-bottom: 10px;">
          <ion-button (click)="logout()" color="danger" expand="block">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>Logout
          </ion-button>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>