<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Categories</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- add with icon button -->
    <ion-buttons slot="end">
      <ion-button (click)="add()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>List of Categories</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <!-- with index list -->
        <ion-item *ngFor="let category of categories; let i = index">
          <ion-label>{{i + 1}}. {{ category.name }}</ion-label>
          <ion-button (click)="edit(category)">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-button>

          <ion-button (click)="remove(category)" color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>


  </ion-card>
</ion-content>