<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>User Information</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input label="Full Name" labelPlacement="floating" placeholder="Product Name"
          [(ngModel)]="form.name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Email" labelPlacement="floating" placeholder="Email" [(ngModel)]="form.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Password" labelPlacement="floating" placeholder="Password"
          [(ngModel)]="form.password"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="save()">Save</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>